body {
    background-color: var(--background-dark);
    margin: 15px;
}

.manhwaCont {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 18px;
    margin-top: 70px;

    .manhwaCardWrapper {
        width: 100%;
        height: min-content;
        max-width: 450px;
        box-sizing: border-box;
        background: var(--background-light);
        border-radius: 1rem;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
        padding: 0.4rem;
        max-height: 1000px;
        transition: max-height 0.2s ease;
        overflow: hidden;
    }
}

/* HTML: <div class="loader"></div> */
.loader-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .loader {
        width: 85px;
        height: 50px;
        --g1: conic-gradient(from 90deg at left 3px top 3px, #0000 90deg, #fff 0);
        --g2: conic-gradient(from -90deg at bottom 3px right 3px, #0000 90deg, #fff 0);
        background: var(--g1), var(--g1), var(--g1), var(--g2), var(--g2), var(--g2);
        background-position: left, center, right;
        background-repeat: no-repeat;
        animation: l9 0.5s infinite;
    }

    p {
        color: white;
        font-size: 0.7rem;
        text-align: center;
        padding-top: 10px;
    }
}

.noComic {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2rem;
    text-align: center;
}

@keyframes l9 {
    0% {
        background-size: 25px 50%, 25px 50%, 25px 50%
    }

    25% {
        background-size: 25px 100%, 25px 50%, 25px 50%
    }

    50% {
        background-size: 25px 50%, 25px 100%, 25px 50%
    }

    75% {
        background-size: 25px 50%, 25px 50%, 25px 100%
    }

    100% {
        background-size: 25px 50%, 25px 50%, 25px 50%
    }
}