.headerSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0px;
    box-sizing: border-box;
    width: 100%;
    padding: 15px;
    background-color: var(--background-dark);
    z-index: 3;

    .img_data {
        display: flex;
        align-items: center;
        gap: 6px;

        img {
            height: 35px;
            // transition: transform 0.5s ease-in-out;
            animation: spin 1s ease-out;
        }

        .dataCont {
            p {
                color: white;
                font-size: 0.45rem;
                font-family: sans-serif;

                &:nth-child(1) {
                    font-weight: 900;
                    color: goldenrod;

                    &.ongoing {
                        color: #7ed957;
                    }

                    &.haitus {
                        color: #ff5757;
                    }

                    &.completed {
                        color: #a6a6a6;
                    }
                    &.all {
                        color: white;
                    }

                }

                span {
                    color: gold;
                    font-weight: 700;
                }
            }
        }
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        50% {
            transform: rotate(360deg);
            /* first full spin */
        }

        100% {
            transform: rotate(720deg);
            /* second full spin */
        }
    }


}